{{#paper-content}}
  <div class="layout-row">
    <div class="layout-column insta-content">
      {{#each content key="stdResImg" as |instaPhoto|}}
      <a href="{{instaPhoto.instagramLink}}" target="_blank">
          <img src={{instaPhoto.stdResImg}} class="instaphoto" alt="" title="">
      </a>
      {{/each}}
    </div>
  </div>
{{/paper-content}}
