<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick={{action "closeNav"}}>&times;</a>
  <div class="overlay-content">
    <a href="#">Home</a>
    <a href="#">Story</a>
    <a href="#">Blog</a>
    <a href="#">Portfolio</a>
    <a href="#">Contact</a>
  </div>
</div>
{{#paper-toolbar tall=true as |toolbar|}}
  {{#toolbar.tools}}
    <span style="font-size:30px;cursor:pointer" onclick={{action "openNav"}}>{{paper-icon "menu" size=24}}</span>

    <span class='flex'></span>
    <span class="logo">
      {{#link-to "index"}}<strong>LUA</strong>{{/link-to}}
    </span>
    <span class='flex'></span>
    {{#link-to "index"}}
      {{paper-icon "mail outline" size=24}}
    {{/link-to}}

  {{/toolbar.tools}}

  <span class="flex"></span>

  <span class="toolbar-block">
    {{#toolbar.tools class="header-list toolbar-block--inner"}}
      <span class='menu-links'>
        {{#link-to "index"}}Story{{/link-to}}
        {{#link-to "index"}}Blog{{/link-to}}
        {{#link-to "index"}}Portfolio{{/link-to}}
        {{#link-to "instagram"}}IG{{/link-to}}
        {{#link-to "index"}}Collabs{{/link-to}}
      </span>
    {{/toolbar.tools}}
  </span>
{{/paper-toolbar}}
