<section class="background background--first">
  <div class="content-wrapper">
    <p class="content-title">Born on the sunny coast of California</p>
    <p class="content-subtitle">From a young age Ashley had found her passion, and that passion was to create. Ashley has been designing jewelry since she was 18, infusing her work with love, passion, and spirit. Her pieces are inspired by Latin culture, sacred geometry, and the people of her native town, Los Angeles.</p>
  </div>
</section>
<section class="background">
  <div class="content-wrapper">
    <p class="content-title">Cras lacinia non eros nec semper.</p>
    <p class="content-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ut massa mattis nibh semper pretium.</p>
  </div>
</section>
<section class="background">
  <div class="content-wrapper">
    <p class="content-title">Etiam consequat lectus.</p>
    <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam dapibus.</p>
  </div>
</section>
